* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* primary color */

--Soft-blue: #4D96A9;
--purpure-dark: #855FB1;
--Black : #28283D;
--Gray: #87879D;
--Light-blue: #8FE3F9;
--Light-purpure: #D9B8FF;
--white: #FFFFFF;

/* value */
--padding-container-mobile: 0 1.6rem;
--font-size: 62.5%;

}

html {
    font-size: var(--font-size);
}

img {
    display: block;
    max-width: 100%;
}

button {
    border: none;
}

body {
    font-family: 'Red Hat Display', sans-serif;
}




.container {
    padding: var(--padding-container-mobile);
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
  }

  .header__nav {
    margin: 2rem;
  }

.nav__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5rem;
}

.nav__imagen {
    margin-bottom: 4rem;
}
.nav__title {
    color: var(--Black);
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 4rem;
    
}

.nav__text {
    color: var(--Gray);
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 4rem;

}

.container__btn {
    display: flex;
    flex-direction: column;
gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
}

.btn--blue {

padding: 1.5rem 2.5rem;
border-radius: 2rem;
background-color: var(--Soft-blue);
color: var(--white);
}

.text--opacity {
    color: var(--Light-blue);
}

.btn--purpure {
    padding: 1.5rem 2rem;
    border-radius: 2rem;
background-color: var(--purpure-dark);
color: var(--white);
}

.container__main {

    position: relative;
}

.imagen__arrow-number {
margin: auto;
}

.main__ilustration {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 4rem 0;
    
}

.ilustration__imagen {
    object-fit: cover;
    width: 100%;
}

.info__text--blue {
    color: var(--Soft-blue);
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.info__title {
    color: var(--Black);
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.info__text {
    color: var(--Gray);
    text-align: center;
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: 2rem;
}

.footer__container {
    background-color: var(--Soft-blue) transparent inherit;
    background-image: url(/assets/tablet/image_footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
   
}

.footer__title {
    color: var(--white);
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    
}

.footer__text {
    color: var(--white);
    text-align: center;
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: 2rem;
}

.footer__flex {
    display: flex;
   align-items: center;
    flex-direction: column;
    row-gap: 3rem;

}

@media (min-width: 768px) {
    .main__ilustration {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        margin: 4rem 0;
        
    }

    .container__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
    }

}

@media (min-width: 1440px) {
.nav--grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.nav__ilustration {
    background-image: url(/assets/desktop/image-hero-left.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}

.nav__imagen {
    display: none;
}

.nav__ilustration--second {
    background-image: url(/assets/desktop/image-hero-right.png);
    background-repeat: no-repeat;
    width: 100%;
}

.info{
padding: 0 40rem;
}

.footer__flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20rem;
}
}